.order-book-header {
  display: flex;
  padding: 5px 12px 1px;
}

.order-book-header-cell {
  color: var(--btse-quote-table-header-text-color, #8698aa);
  font-size: 12px;
}

.order-book-header-price {
  flex: 1 0 29%;
}

.order-book-header-size {
  flex: 1 0 30%;
  text-align: right;
}

.order-book-header-total {
  flex: 1 1 41%;
  text-align: right;
}
