.container {
  width: 260px;
  padding-bottom: 5px;
  background-color: var(--bts-background-color, #131b29);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: default;
}

.title {
  padding: 8px 12px;
  color: var(--btse-default-text-color, #f0f4f8);
  border-bottom: 1px solid var(--btse-quote-table-header-text-color, #8698aa);
  font-weight: 500;
}
