.container {
  width: 350px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 5px;
}

.title {
  padding: 8px 5px;
  color: var(--btse-default-text-color, #F0F4F8);
  border-bottom: 1px solid var(--btse-quote-table-header-text-color, #8698aa);
}
